.Footer {

    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    background: #151414;
    padding: 3rem;
    margin-top: 70vh;
}

.social {
    display: flex;
    justify-content: center;
}
.social svg{
    /* height: 2rem; */
    width: 2rem;
    margin: 3rem;
    
}
.contact {
    font-size: 2rem;
}