.hero>.content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 12rem;
    line-height: 3rem;
}
.btn-light{
    background-color: coral;
    padding:5px;
    margin:.2rem;
}    
.btn-dark{
    background-color: #084f71;
    padding:5px;
    margin:.2rem;   
}