.Header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem    ;
}
.Header ul {
    display: flex;
    
}
.Header ul li {
    list-style-type: none;
    margin: 1rem;
    padding: 0.1rem;
}
a{
    font-size: 1.2rem;
    font-weight: 500;
}
.hamburger{
    display: none;
}
@media screen and (max-width:1040px) {
    .Header {
        flex-direction: column;
    }
    .Header ul{
        flex-direction: column;
    }
    .hamburger{
        display:initial;
    }
}