
.Header{
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 1rem;
}
.Header ul {
    display: flex;
    
}
.Header ul li {
    list-style-type: none;
    margin: 1rem;
    padding: 0.1rem;
}
a{
    font-size: 1.2rem;
    font-weight: 500;
}
li a{
    color: coral;
}
li a:hover{
    color: whitesmoke;
}
a h1{
    color: coral;
}
a h1:hover{
    color: whitesmoke;
}
.hamburger{
    display: none;
}
@media screen and (max-width:1040px) {
    .Header {
        flex-direction: column;
    }
    .Header ul{
        padding-top: 3rem;
        position: absolute;
    }
    
    .Header ul li{
        flex-direction: column;
        left: -100%;
    }
    .hamburger{
        display:initial;
        left: 100%;
    }
    li a:hover{
    color: coral;
}
a h1:hover{
    color: coral;

}
}