* {
    color: white;
    line-height: 2rem;
}

.contact-main,
form {
    display: flex;
    margin: 2rem;
    flex-direction: column;
}

.contact {
    margin: auto;
}

input,
textarea {
    color: black;
}

button {
    background-color: white;
    margin-top: 10px;
    height: 8vh;
    width: 10vw;
    color: black;
    font-size: 18px;
}