@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Outfit' , sans-serif   ;
}

h1,h4,a,p{
    text-decoration: none;
    color: white;
}
